@font-face {
    font-family: 'louis_george_caferegular';
    src: url('../fonts/louis_george_cafe-webfont.woff2') format('woff2'), url('../fonts/louis_george_cafe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fdfdfd;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
    background-color: #041C47 !important;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.chip {
    padding: 8px 16px 8px 16px;
}

.primary_color {
    background-color: #041C47 !important;
}

.cartao_pergunta {
    background-color: white;
    width: 60%;
    height: 350px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    margin-top: 1%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.div_seletores {
    width: 70%;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: -55px;
}

.div_seletores input {
    margin-top: -15%;
    border-color: transparent;
    width: 70%;
    height: 25px;
    font-family: arial;
}

.div_seletores label {
    color: #00008B;
    font-weight: bold;
    font-family: arial;
}

.div_icone img {
    width: 10%;
    background-color: white;
    border-radius: 50%;
    border: 1x solid grey;
    padding: 10px;
    margin-left: 10px;
}

.div_pergunta label {
    margin-left: 2%;
    margin-top: 2%;
    font-family: 'louis_george_caferegular';
    font-weight: bold;
    color: #00008B;
    font-family: arial;
}

.div_selects label {
    font-family: arial;
    color: #00008B;
    font-weight: bold;
    font-size: 12px;
}

.div_selects {
    float: left;
    color: #00008B;
    margin-left: 8.5%;
}

.div_selects select {
    width: 130px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    color: #00008B;
    font-size: 15px;
    border-radius: 5px;
    border-color: transparent;
}

.div_selects input {
    width: 130px;
    height: 30px;
    background-color: #FFD700;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    border-color: transparent;
}

hr {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    border-color: #4682B4;
}